@import url("//fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Athiti', sans-serif;
  font-size: 24px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
:root {
  --plCl1: #1C3879;
  --plCl2: #607EAA;
  --plCl3: #d4e1f5;
  --plCl4: #F9F5EB;
}
body {
  background-color: #d4e1f5;
}
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
select {
  cursor: pointer;
}
.hide {
  display: none !important;
}
.body-container {
  display: flex;
  justify-content: center;
}
.container {
  margin: 60px;
  width: calc(100% - 120px);
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px 0;
}

/* Todo: Header Style */
.header {
  text-align: center;
}
.header .title {
  color: var(--plCl1);
  font-size: 2rem;
  font-weight: 500;
}
.header .sub-title {
  color: var(--plCl2);
  font-size: 1.8rem;
  font-weight: 500;
}
.header .btn-box {
  margin-top: 30px;
}
.btn {
  margin: 20px auto 30px;
  padding: 8px 10px;
  width: 250px;
  display: block;
  border-radius: 5px;
  border: none;
  background-color: var(--plCl2);
  color: #FFF;
  font-size: .8rem;
  font-weight: 500;
  box-shadow: 5px 8px 15px #28543090;
  transition: .5s;
  cursor: pointer;
}
.btn:hover,
.btn.active {
  background-color: var(--plCl1);
}
.header .dash-title {
  margin: 50px 0 20px;
  color: var(--plCl1);
  font-size: 1.2rem;
  font-weight: 500;
}
.header .dash-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.header .dash-item {
  padding: 15px;
  width: 60px;
  border-radius: 5px;
  background-color: var(--plCl2);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 5px 8px 15px #28543090;
}

/* Todo: Form Style */
.form-box {
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #ffffff60;
  box-shadow: 5px 8px 20px #00000060;
  overflow: auto;
}
.form-box .title-box {
  border-bottom: 2px solid var(--plCl1);
}
.form-box .form-title {
  margin: -10px 0 10px 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--plCl1);
}
.form-box .form-item {
  margin: 10px 0;
}
.form-box label {
  font-weight: 500;
  color: var(--plCl1);
}
.form-box select {
  margin: 5px 5px 10px;
  padding: 5px 10px;
  display: block;
  width: calc(100% - 10px);
  background: #ffffff60;
  border: none;
  outline: none;
  font-weight: 500;
  color: var(--plCl1);
}
.form-box select {
  cursor: pointer;
}
.form-box select * {
  background-color: var(--plCl4);
  font-weight: 500;
}
.form-box .number-item {
  margin: 20px 0 10px;
  display: flex;
  justify-content: center;
  gap: 0 30px;
}
.form-box .btn {
  margin: 50px auto 20px;
  padding: 8px 30px;
  width: fit-content;
}

/* Todo: Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bbb; 
}
::-webkit-scrollbar-thumb {
  background: var(--plCl2); 
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--plCl1); 
}

@media only screen and (max-width: 991px) {
  * {
    font-size: 22px;
  }
  .container {
    margin: 40px 30px;
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 425px) {
  * {
    font-size: 20px;
  }
  .container {
    margin: 30px 20px;
    width: calc(100% - 40px);
  }
  
  .header .dash-item {
    padding: 15px;
    width: 50px;
  }
  .form-box {
    right: 0;
    top: -100vh;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    transition: 1s;
  }
  .form-box.active {
    right: 0;
    top: 0;
  }
  .form-box .number-item {
    gap: 0 15px;
  }
  .form-box .number-box input {
    width: calc(100% - 130px);
  }
}